import(ca, vegan)
importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "arrows", "axTicks", "axis", "par",
           "plot", "points", "segments", "text")
importFrom("stats", "var", "lm")
exportPattern("^[[:alpha:]]+")
