import(ca, vegan, ellipse)
importFrom("grDevices", "rainbow", "adjustcolor")
importFrom("graphics", "abline", "arrows", "axTicks", "axis", "par",
           "plot", "points", "segments", "text", "lines", "polygon",
           "rect")
importFrom("stats", "var", "lm", "qf", "qt", "quantile", "sd")
exportPattern("^[[:alpha:]]+")
